<main id='post'>
  <div class="content">
    <article>
      <section class="content markdown-body">
        <h1>
          <%= page.title ? page.title : '无标题' %></h1>
        <div class='post-meta'> <i class="fa fa-calendar" aria-hidden="true"></i>
          <time>
            <%-date(page.date, "YYYY年MM月DD日")%></time>
          <% if(page.categories && page.categories.length) { %>
          | <i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <%- partial('_partial/categories', { post: page }) %>
          <% } %>
          <% if(page.tags && page.tags.length) { %>
          |
          <% if (page.tags.length > 1) { %>
          <i class="fa fa-tags" aria-hidden="true"></i>
          <% } else {%>
          <i class="fa fa-tag" aria-hidden="true"></i>
          <% } %>
          <%- partial('_partial/tag', { tags: page.tags }) %>
          <% } %></div>
        <%- page.content %></section>
        <% if(page.prev){%>
        <a class="prev-page"><<%- page.prev.title%></a>
        <%}%>
      <%if(config['exceptional']){%>
      <%- partial("_exceptional/exceptional") %>
      <%}%>
      <%if(config['comment']){%>
      <%- partial("_comment/livere") %>
      <%}%></article>
    <% if(config['disqus_shortname']) { %>
    <!-- disqus 评论框 start -->
    <div class="comment">
      <div id="disqus_thread" class="disqus-thread">
        <i>加载评论框需要翻墙</i>
      </div>
    </div>
    <!-- disqus 评论框 end -->
    <% } %></div>
  <aside>
    <% if(toc(page.content)) { %>
    <div class="toc-container">
      <h1>目录</h1>
      <div class="content">
        <%- toc(page.content) %></div>
    </div>
    <% } %>
    <% if(config.algolia){%>
    <%- partial("_algolia/search_bar") %>
    <%}%>
  <% if(config.feed.rss){%>
  <%- partial("RSS/siteInfo") %>
 <%}%>
 <% if(config.honehoneclock){%>
 <%- partial("_honehoneclock/hone_clock_tr") %>
 <%}%>
 </aside>
</main>
        <% if(config["share"]){%>
        <%- partial("_comment/baidu_share") %>
        <%}%>
<% if(config['disqus_shortname']) { %>
<%- partial("_comment/disqus");%>
<% } %>
<% if(config.hide) {%>
<%- js("/js/hide.js") %>
<%}%>